body {
	background-image:url("./media/03.jpg");
	padding: 20px;
	background-color: #444;
}

#gridContainer {
	padding-bottom: 10px;
}

table {
	background-color: transparent;
	border-radius: 8px;
	border-spacing: 0;
	width: 85%;
}

td {
	border: 0.5px solid #000;
	border-radius: 8px;
	width: 15px;
	height: 15px;
}

strong{
	font-size: 24px;
}

.dropbox {
	position: relative;
}

.dropbox select {
	background: linear-gradient(
		#BB83D1 , #C6B5CB);
	color: black;
	padding: 12px;
	width: 150px;
	border: none;
	border-radius: 20px;
	font-size: 24px;
	outline: none;
}

#start,
#stop,
#clear,
#random,
#next1,
#next23 {
	padding: 1em;
	border-radius: 5px;
	border: none;
	margin-right: 3%;
	width: 6%;
	height: 7%;
	background: linear-gradient(
		#BB83D1 , #C6B5CB);
}

td.dead {
	background-color: transparent;
}

td.live {
	background-color: transparent;
	background-image: url("./media/wing.jfif");
	background-size: cover;
	border-radius: 10px;
}
